:root {
  --text-primary: #000000;
  --text-secondary: #ffffff;
  --background: #f1f1f1;
  --primary: #405d78;
  --secondary: #907d7d;
  --accent: #e07a64;
  --navbar: #4e4e4e;
  scroll-behavior: smooth;
}
body {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  line-height: 21px;
  color: var(--text-primary);
}
.disabled {
  cursor: not-allowed;
}
.header {
  width: 100%;
  height: 50px;
  background-color: var(--navbar);
  display: flex;
  justify-content: center;
}
.navbar {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container {
  width: 90%;
  display: flex;
}
.navbar__logo {
  color: var(--text-secondary);
  font-size: 18px;
  padding: 6px 26px 6px 0;
  justify-self: flex-start;
}
.navbar__menu-item {
  display: none;
}
.flex--center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex--column {
  display: flex;
  flex-direction: column;
}
.bold {
  font-weight: 700;
}
.height--fit {
  height: fit-content;
}
.text-justify {
  text-align: justify;
}
.section__landing-page {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url(Images/background-pizza.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}
.section__landing-page--shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.205);
}
.container__landing-page {
  width: 80%;
}
.heading__landing-page {
  font-size: 36px;
  line-height: 42px;
  margin-bottom: 62px;
  color: var(--text-secondary);
  display: block;
}
.paragraph {
  font-size: 18px;
}
.paragraph__landing-page {
  color: var(--text-secondary);
  margin-bottom: 43px;
}
.paragraph__offer {
  font-size: 24px;
  text-align: center;
}
.link {
  text-decoration: none;
}
.link:visited {
  color: var(--text-secondary);
}
.button {
  width: 164px;
  height: 41px;
  background-color: #c4c4c400;
  border: #ffffff solid 3px;
}
.section__specialists {
  background-color: var(--background);
}
.heading__specialists {
  font-size: 36px;
  color: #152d41;
  margin: 60px 0 20px 0;
  align-self: center;
}
.specialist {
  flex-wrap: wrap;
}
.specialist:last-of-type {
  margin-bottom: 60px;
}
.specialist__portrait {
  width: 197px;
  aspect-ratio: 1/1;
  background-color: var(--secondary);
  border-radius: 50%;
  margin: 60px 30px 40px 30px;
  align-self: center;
  background-size: cover;
  background-position: center;
}
.specialist__portrait--photo-x {
  background-image: url(Images/portrait-x.jpeg);
}
.specialist__portrait--photo-y {
  background-image: url(Images/portrait-y.jpeg);
}
.section__offer {
  background-color: var(--primary);
}
.heading__offer {
  color: var(--text-secondary);
  font-size: 26px;
  margin: 76px 0 20px 0;
  align-self: center;
}
.box__offer {
  width: 339px;
  height: 331px;
  margin-top: 45px;
  padding: 15px;
  position: relative;
  background-color: var(--background);
}
.box__offer:last-of-type {
  margin-bottom: 45px;
}
.dot__offer {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-color: var(--accent);
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
}
.footer {
  width: 100%;
  height: 147px;
  color: var(--text-secondary);
  background-color: var(--navbar);
}
.icon {
  color: var(--text-secondary);
  margin: 18px 18px 30px 18px;
}
.footer .container .paragraph {
  margin: 38px 15px 15px 15px;
}
@media (min-width: 1200px) {
  .container {
    width: 960px;
  }
  .navbar__menu {
    color: var(--background);
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 46px;
  }
  .navbar__logo {
    padding-right: 0;
  }
  .navbar__menu-item {
    display: inline-block;
    padding: 1.5px 0;
  }
  .container__landing-page {
    width: 577px;
  }
  .heading__specialists {
    align-self: flex-start;
  }
  .specialist {
    flex-wrap: nowrap;
  }
  .specialist .paragraph {
    width: 750px;
    padding: 30px;
  }
  .specialist:nth-of-type(even) {
    flex-direction: row-reverse;
  }
  .specialist:nth-of-type(even) .paragraph {
    text-align: right;
  }
  .specialist:nth-of-type(odd) .paragraph {
    text-align: left;
  }
}
